.heading-secondary {
color: #000000;
	text-transform: uppercase;
	text-align: center;
	backface-visibility: hidden;
	margin-bottom: 2rem;
	&--main {
		display: block;
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 3.5rem;

		animation-name: moveInLeft;
		animation-duration: 1s;
		animation-timing-function: ease-out;

		@media (max-width: 56.25em) {
			padding-top: 2rem;
			font-size: 5.5rem;
			letter-spacing: 2.5rem;
		}
			@media (max-width: 37.5em) {
			padding-top: 1rem;
			font-size: 4rem;
			letter-spacing: 1.5rem;
		}
	}
}

.project__container {
	min-height: 100vh;
	position: relative;
	margin-bottom: 6rem;
	display: grid;
	grid-auto-columns: 1fr;

	@media (min-width: 768px) {
		grid-template-columns: 1fr 1fr;
	}
	@media (min-width: 1150px) {
		margin: 10rem;
	}

	&-left {
		margin-top: 2rem;
		overflow: hidden;
		z-index: 3;
		@media (min-width: 768px) {
			// background-color: white;
			background-color: #151515;
			height: 80vh;
		}
		&:first-child {
			@media (min-width: 768px) {
				grid-row: 1 / 2;
			}
		}
		&:second-child {
			@media (min-width: 768px) {
				grid-row: 2 / 3;
			}
		}

		&-img {
			max-width: 90%;
			max-height: 100%;
			object-fit: scale-down;
			display: block;
			margin: 0 auto;
			padding-top: 2.5rem;


		}
	}

	&-right {
		// grid-row: 2 / 3;
		position: relative;
		z-index: 1;
		// background-color: rgba(128, 0, 0, 0.906);
		// background-color: black;
		background-color: #151515;
		margin-top: -10rem;
		padding-bottom: 8rem;
		@media (min-width: 768px) {
			height: 80vh;
			margin-top: 2rem;
		}
		.heading-tert {
			margin-top: 8rem;
			padding: 2rem;
			color: white;
			font-weight: bold;
			font-size: 3.5rem;
		}
		.content {
			padding-left: 2rem;
			color: white;
			font-size: 2rem;
		}

		.heading-four {
			margin-top: 1rem;
			padding: 2rem;
			color: white;
			font-weight: bold;
			font-size: 2.5rem;
		}

		.content-sub {
			padding-left: 2rem;
			color: white;
			font-size: 1.5rem;
			font-style: italic;
		}

		.btn-grp {
			margin-top: 6rem;
			display: flex;
			justify-content: space-evenly;
			position: absolute;
			bottom: 0;
			width: 75%;
			left: 0;
			right: 0;
			margin: 0 auto;

			.btn--sq {
				// background-color: black;
				background-color: transparent;
				color: white;
				border-radius: 2px;
				padding: 1rem 4rem;
			}
		}
	}
}
.spinner-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.spinner {
	color: #de38c8;
	height: 7.5rem;
	width: 7.5rem;
}
