.heading-secondary {
	// color: #000000;
	color: #151515;
	text-transform: uppercase;
	text-align: center;
	backface-visibility: hidden;
	margin-bottom: 2rem;
	&--main {
		display: block;
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 3.5rem;

		animation-name: moveInLeft;
		animation-duration: 1s;
		animation-timing-function: ease-out;

		@media only screen and (max-width: 56.25em) {
			padding-top: 2rem;
			font-size: 5.5rem;
			letter-spacing: 2.5rem;
		}
		@media only screen and (max-width: 37.5em) {
			margin-top: 0.2rem;
			font-size: 4rem;
			letter-spacing: 1.5rem;
		}
	}
}
.project__container {
	min-height: 100vh;
	position: relative;
	margin-bottom: 6rem;

	@media only screen and (min-width: 48em) {
		grid-template-columns: 1fr 1fr;
	}
	@media only screen and (min-width: 71.88em) {
		margin: 10rem;
	}
}

.project__grid {
	@media only screen and (min-width: 48em) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		// background-color: #151515;
		margin-top: 8rem;
		align-items: center;
		justify-items: center;
		background: radial-gradient(farthest-corner at 12rem 12rem, rgba(167,164,164,1) 0%, rgba(21,21,21,1) 100%);
	}
	&-img {
		max-width: auto;
		max-height: 95vh;
		display: block;
		margin: 0 auto;
		position: relative;
		z-index: 3;
		@media only screen and (min-width: 48em) {
			height: 95%;
		}
	}
	.content__container {
		position: relative;
		// background-color: #151515;
		background: radial-gradient(farthest-corner at 12rem 12rem, rgba(167,164,164,1) 0%, rgba(21,21,21,1) 100%);
		margin-top: -12rem;
		padding: 5rem 2rem 10rem 2rem;
		@media only screen and (min-width: 48em) {
			margin-top: 0;
			// background-color: transparent;
			background: none;
		}
		.heading-tert {
			margin-top: 5rem;
			padding: 2rem;
			color: white;
			font-weight: bold;
			font-size: 3.5rem;
		}
		.content {
			padding-left: 2rem;
			color: white;
			font-size: 2rem;
		}

		.heading-four {
			margin-top: 1rem;
			padding: 2rem;
			color: white;
			font-weight: bold;
			font-size: 2.5rem;
		}

		.content-sub {
			padding-left: 2rem;
			color: white;
			font-size: 1.5rem;
			font-style: italic;
			padding-bottom: 4rem;
		}

		.btn-grp {
			margin-top: 6rem;
			display: flex;
			justify-content: space-evenly;
			position: absolute;
			bottom: -1;
			width: 75%;
			left: 0;
			right: 0;
			margin: 0 auto;

			.btn--sq {
				background-color: transparent;
				color: white;
				border-radius: 2px;
				padding: 1rem 4rem;
				box-shadow: none;
				transition: all .2s;
				&:hover {
					transform: scale(1.5);
				}
			}
		}
	}
}
.spinner-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.spinner {
	color: #de38c8;
	height: 7.5rem;
	width: 7.5rem;
}

.construction {
	width: 60vw;
	height: 35vh;
	font-size: 4rem;
}
