.project {
	&__container {
		margin-top: 6rem;
		position: relative;
		min-height: 90vh;
		display: grid;
		grid-template-columns: 1fr;
		@media (min-width: 80rem) {
			grid-template-columns: repeat(2, 1fr);
			gap: 2rem;
		}
		@media (min-width: 110rem) {
			grid-template-columns: repeat(3, 1fr);
			gap: 2rem;
		}
		&-btn-grp {
			display: block;
			position: absolute;
			left: 50%;
			transform: translate(-50%, -100%);
		}
		@media (min-width: 600px) {
		}
	}
	&__card {
		position: relative;
		display: block;
		justify-content: center;
		margin-top: 4rem;
		margin-bottom: 4rem;
		@media (min-width: 768) {
			max-width: 50%;
		}
		&-title {
			text-align: center;
			background-color: #000;
			color: #fff;
			padding: 1rem;
			font-family: 'Lato', sans-serif;
			font-weight: bold;
			font-size: 2rem;
			margin-bottom: 2rem;
			border-radius: 3px;
		}
		&-text {
			color: #333;
			font-size: 1.4rem;
		}
		&-img {
			display: block;
			max-height: 50vh;
			margin: 0 auto;
			border-radius: 3px;
			max-width: 80vw;
			// @media only screen and (min-width: 768px) {
			// 	max-width: 250px;
			// 	max-height: 450px;
			// }
		}
		.btn-primary,
		.btn--sq {
			// background-color: transparent !important;
			background-color: rgba(0, 0, 0, 0.1);
			border: white;
			color: black;
			margin: 10px;
			font-family: 'Montserrat', sans-serif;
			font-weight: bolder;
			height: 10%;
			border-radius: 2px;
			padding: 1rem;
			&:hover {
				background-color: #de38c8 !important;
				border-bottom: 2px solid #de38c8;
			}
		}
	}
}
