.drop-menu {
	position: relative;
	background-image: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.5),
		rgba(0, 0, 0, 0.5)
	);
	transition: all .2s;

	height: 100vh;
	&-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 50vh;
		width: 50%;
		text-align: center;
	}
	&-link {
		display: block;
		text-decoration: none;
		color: black;
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		padding: 3rem;
		font-size: 2rem;

		&:link,
		&:visited {
			text-decoration: none;
			text-transform: uppercase;
		}
		&:hover {
				transform: translateY(-3px);
		}

		&:hover,
		&:active {
			color: #de38c8;
			text-decoration: underline;
		}
	}
}