.side-bar {
	background-color: var(--blue-purple);
	display: flex;
	flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
    z-index: 1;
	a {
		text-decoration: none;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
	}
}
