.about {
	margin: 1rem;
	margin-top: 7.5rem;
	// position: absolute;
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	position: relative;
	margin-bottom: 4.5rem;

	
	&__img {
		position: relative;
		border-radius: 50%;
		display: block;
		width: 55%;
		margin: 2rem auto;

		@media (min-width: 768px) {
			outline: 1rem solid #333333;
			width: 90%;
			border-radius: 2px;
			outline-offset: 3rem;
			margin-top: 10rem;
			margin-left: 5rem;
			box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.2);
		}
	}

	&__content {
		font-size: 1.6rem;
		padding-top: 4rem;
	}
	p:last-of-type {
		margin-bottom: 3rem;
	}

	.btn--sq {
		border-bottom: 2px solid #de38c8;
		border-radius: 3px;
		padding: 1rem;
		&:hover {
			background-color: #de38c8;
		}
	}

	.buttons {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.tech {
		// display: none;
		h3 {
			margin-top: 3rem;
		}
		// @media (min-width: 768px) {
			display: block;
			padding: 3rem;
		// }
	}
	.icon {
		margin: 1rem;
	}
	&__box {
		// display: none;
		// @media (min-width: 768px) {
			position: absolute;
			background-color: #de38c8;
			min-width: 35rem;
			min-height: 30rem;
			display: block;
			right: 0;
			bottom: 0;
		// }
	}
	.transparent {
		opacity: 0;
		@media (min-width: 768px) {
			display: none;
		}
	}
}