.header {
	height: 93vh;
	background-image: linear-gradient(
			to right bottom,
			rgba(255, 255, 255, 0.5),
			rgba(0, 0, 0, 0.5)
		),
		url(../../assets/images/hero-img-bw.png);
	background-size: cover;
	background-position: center;
	position: relative;
	margin-bottom: 4.5rem;

	&__statement-box {
		position: absolute;
		top: 35%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}

.heading-primary {
	color: #000000;
	text-transform: uppercase;

	backface-visibility: hidden;
	margin-bottom: 3rem;
	&--main {
		display: block;
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 3.5rem;

		animation-name: moveInLeft;
		animation-duration: 1s;
		animation-timing-function: ease-out;

		@media (max-width: 56.25em) {
			padding-top: 2rem;
			font-size: 5.5rem;
			letter-spacing: 2.5rem;
		}
			@media (max-width: 37.5em) {
			padding-top: 2rem;
			font-size: 4rem;
			letter-spacing: 1.5rem;
		}
	}
	&--sub {
		display: block;
		padding-top: 1rem;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 1.75rem;

		animation: moveInRight 1s ease-out;

		@media (max-width: 56.25em) {
			padding-top: 2rem;
			letter-spacing: 1rem;
		}

		@media (max-width: 37.5em) {
			padding-top: 1.5rem;
			font-size: 1.5rem;
			letter-spacing: .5rem;
		}
	}
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-1rem);
	}

	80% {
		transform: translateX(1rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(1rem);
	}

	80% {
		transform: translateX(-1rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

.btn {
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		font-weight: bolder;
		padding: 1rem 3rem;
		display: inline-block;
		border-radius: 3rem;
		transition: all 0.2s;
		position: relative;
		font-size: 1.6rem;
		white-space: nowrap;
	}

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

		&::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}

	&:active {
		transform: translateY(1px);
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
	}

	&--pink {
		background-color: rgba(222, 56, 200, 0.9);
		color: #ffffff;

		&::after {
			background-color: rgba(222, 56, 200, 0.9);
		}
	}

	&::after {
		content: '';
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 3rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.4s;
	}

	&--animated {
		animation: moveInBottom 0.5s ease-out 0.75s;
		animation-fill-mode: backwards;
	}
}