.contact-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -80%);
	height: 25rem;
	width: 40rem;
	border-radius: 0.5rem;
	box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.2);
	background-color: black;

	@media only screen and (min-width: 48em) {
		height: 30rem;
		width: 50rem;
	}

	h2 {
		font-size: 2.5rem;
		margin-bottom: 2rem;
		text-align: center;
		font-weight: bold;
		color: white;
		font-family: 'Lato', sans-serif;
		@media only screen and (min-width: 48em) {
			font-size: 3rem;
		}
	}

	.links-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -70%);
		
		&-links {
			display: flex;
			align-items: center;
			justify-content: space-around;
			font-size: 1.5rem;
			

			@media only screen and (min-width: 48em) {
				font-size: 2.5rem;
			}
		}

		.link {
			margin: 1rem;
		}
		.icon {
			transition: transform 0.2s;
			&:hover {
				color: #de38c8 !important;
				transform: scale(1.3);
			}
		}
	}
}
