.nav {
	position: absolute;
	top: 0;
	z-index: 100;

	&__brand-box {
		position: relative;
		top: 2rem;
		left: 1rem;

		&-link {
			display: block;
			font-size: 3.5rem;
			color: black;
			font-family: 'Kaushan Script', cursive;
			font-weight: bold;
			text-decoration: none;
			transition: transform 0.3s;

			&:link,
			&:visited {
				text-decoration: none;
				text-transform: uppercase;
			}

			&:hover {
				// transform: scale(1.1);
				transform: translateY(-3px);
				color: #de38c8;
				// font-size: 3.6rem;
				text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

				&::after {
					transform: scaleX(1.4) scaleY(1.6);
					opacity: 0;
				}
			}
			&:active {
				transform: translateY(1px);
				text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
			}
		}
	}
	&__fa-bars-box {
		position: fixed;
		top: 1.75rem;
		right: 2rem;
		background-color: rgba(153, 153, 153, 0.2);
		border-radius: 50%;
		padding: 1rem;
		transition: all 0.2s;
		&:hover {
			transform: translateY(-3px);
			box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

			&::after {
				transform: scaleX(1.4) scaleY(1.6);
				opacity: 0;
			}
		}

		&:active {
			transform: translateY(1px);
			box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
		}
	}
}
