.nav {
	position: absolute;
	top: 0;
	z-index: 1;

	&__brand-box {
		position: absolute;
		top: 3rem;
		left: 3rem;
		transition: all 0.2s;

		&-link {
		font-size: 3.5rem;
		color: #de38c8;
		font-family: 'Kaushan Script', cursive;
		font-weight: bold;
		text-decoration: none;
		
		&:link,
		&:visited {
			text-decoration: none;
			text-transform: uppercase;
		}
		
		&:hover {
			transform: translateY(-3px);
			color: black;
			font-size: 3.6rem;
		}
		
		}
	}
	&__fa-bars-box {
		position: fixed;
		top: 3rem;
		right: 3rem;
		background-color: rgba(153, 153, 153, 0.2);
		border-radius: 50%;
		padding: 1rem;
		cursor: pointer;
		transition: all 0.2s;
		&:hover {
			transform: translateY(-3px);
			box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

			&::after {
				transform: scaleX(1.4) scaleY(1.6);
				opacity: 0;
			}
		}

		&:active {
			transform: translateY(1px);
			box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
		}
	}
}
// .fa-bars {
// 	&:hover,
// 	&:active {
// 		color: #de38c8;
// 	}
// }
