.header {
    background-color: var(--purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}
.header .brand {
    padding: 5px 0 0 5px;
    margin: 0px;
}
.brand h1 {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.brand a:hover{
    text-decoration: none;
}
.header .page-links {
    display: flex;
}

.page-links div {
    padding: 10px;
}

.page-links a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 10px;
}

.page-links a:hover{
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 768px){
    .header .page-links {
    display: flex;
    justify-content: space-around;
}
    .page-links a {
    font-size: 22px;
}
}

@media screen and (min-width: 1020px){
    .page-links a {
    font-size: 24px;
}
    .page-links div {
    padding: 20px;
}

}
