.contact-container {
	height: 360px;
	width: 500px;
	border: 5px solid #626a7a;
	border-radius: 5%;
	margin: auto;
	background-color: #5C99AC;
	padding: 30px;
}
.contact-container h2 {
    font-weight: bold;
	color: white;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
}
.contact-container a {
    padding: 10px;
	margin: 10px;
}
