.footer {
	justify-content: center;
	align-items: center;
	width: 100%;
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	color: white;
	background-color: black;
	height: 4.4rem;
	text-align: center;
	z-index: 100;
	a {
		padding: .5rem 1rem;
	}
	.icon {
		transition: all .2s;
		&:hover {
			color: #de38c8 !important;
			transform: scale(1.3);
		}
	}
}
