:root {
	--blue-purple: #454480;
	--pale-silver: #cdb9b1;
	--gray-border: #5C5A66;
	--raisin-black: #211E23;
	--pinkish: #ce5374;
	--greenish: #5c99ac;
	--whitish: #ace9fa;
}
html {
	height: 100%;
	width: 100%
}
#root {
	height: 100%;
	width: 100%;
}
body {
	margin: 0px;
	height: 100%;
	width: 100%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
