:root {
	--blue-purple: #454480;
	--pale-silver: #cdb9b1;
	--gray-border: #5C5A66;
	--raisin-black: #211E23;
	--pinkish: #ce5374;
	--greenish: #5c99ac;
	--whitish: #ace9fa;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
}
